.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.pointer {
  cursor: pointer;
}

.single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button,
h4 {
  margin-left: -20px;
}
